<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Company (disabled)" [disabled]="disabled" value="Google">
  </mat-form-field>
  <button (click)="edit()" type="button" *ngIf="disabled">Edit</button>
  <ng-container *ngIf="!disabled">
    <button (click)="save()" type="button">Save</button>
    <button (click)="cancel()" type="button">Cancel</button>
  </ng-container>
  <div>

    <button type="submit">Save</button>
  </div>
</form>